apiVersion: apps/v1
kind: Deployment
metadata:
  name: identity-service
  namespace: jiffymeals
  labels:
    app: identity-service
spec:
  selector:
    matchLabels:
      app: identity-service
  template:
    metadata:
      labels:
        app: identity-service
    spec: 
      containers:
      - name: identity-service
        image: ujusophy/identity-service:latest
        ports:
        - containerPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: identity-service
  namespace: jiffymeals
spec:
  selector:
    app: identity-service
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
      nodePort: 30004
  type: NodePort



