apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: jiffymeals
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec: 
      containers:
      - name: order-service
        image: ujusophy/order-service:latest
        ports:
        - containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: jiffymeals
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
      nodePort: 30005
  type: NodePort
