apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: jiffymeals
  labels:
    app: payment-service
spec:
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: ujusophy/payment-service:latest
        ports:
        - containerPort: 8083
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: jiffymeals
spec:
  selector:
    app: payment-service
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8083
      nodePort: 30006
  type: NodePort
