apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-server
  namespace: jiffymeals
  labels:
    app: gateway-server
spec:
  selector:
    matchLabels:
      app: gateway-server
  template:
    metadata:
      labels:
        app: gateway-server
    spec: 
      containers:
      - name: gateway-server
        image: ujusophy/gateway-server:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-server
  namespace: jiffymeals
spec:
  selector:
    app: gateway-server
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30003
  type: NodePort
